GATEWAY_PORT=
MAIN_SERVICE=
TELAS_SERVICE=
SOBRACORTE_SERVICE=
UPLOAD_SERVICE=
DIESEL_SERVICE=
PORTA_EMERG_SERVICE=
PORTARIA_SERVICE=
INDEX_INFORMATIVO_SERVICE=
AUTOMATION_SERVICE=
DP_SERVICE=
QUIMICO_SERVICE=
PCP_SERVICE=
REFEITORIO_SERVICE=
LEAN_SERVICE=
ATT_OTA_SERVICE=